page-login {

}

.no-scroll {
  overflow: hidden;
}

.img-logo {
  position: top center;
  margin-left: 42%
}

.img-bubble {
  position: top center;
  margin-left: 11%
}

.spacer {
  padding-top:1em;
}
